<!-- 

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <main style="margin-top: 8%;">
        <div>
            @foreach (var item in Model)
            {
                <div class="container" style="border-style:solid; height:70%">
                    <h2 class="text-center"> @Html.DisplayFor(modelItem => item.Title)</h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-9">
                            <br />
                            <p>@Html.DisplayFor(modelItem => item.Description)</p>
                            <label class="text-muted" style="font-weight:600">Category: </label><span style="font-weight:600"> @Html.DisplayFor(modelItem => item.Category)</span>
                            <br />
                            <label class="text-muted" style="font-weight:600">Country: </label><span style="font-weight:600"> @Html.DisplayFor(modelItem => item.Country)</span>
                            <br />
                            <label class="text-muted" style="font-weight:600">Current Funds: </label><span style="font-weight:600"> @Html.DisplayFor(modelItem => item.CurrentFunds)</span>
                            <br />
                            <label class="text-muted" style="font-weight:600">Required Funds: </label><span style="font-weight:600"> @Html.DisplayFor(modelItem => item.RequiredFunds)</span>
                            <br />
                            <label class="text-muted" style="font-weight:600">Estimated Date: </label>
                            <br />
                            <span style="font-weight:600;"> @Html.DisplayFor(modelItem => item.Deadline)</span>

                        </div>

                     
                    </div>
                </div>
            }
            <div>
                <a asp-controller="Home" asp-action="Index">Back to Home</a>
            </div>
        </div>-->
        <!-- End: 1 Row 2 Columns -->


    <!--</main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>

</html>-->


/////////////////////////////////////////////////////

@model IEnumerable<PF6_Team1_DotNetAssignment.Models.Project>
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <main style="margin-top: 8%;">
        <h1>My Funded Projects</h1>

               <!-- Start: 1 Row 1 Column -->
        <!-- End: 1 Row 1 Column -->
        <!-- Start: 1 Row 2 Columns -->
        <div>
            @foreach (var item in Model)
            {
                <div class="container" style="border-style:solid; height:70%">
                    <h2 class="text-center"> @Html.DisplayFor(modelItem => item.Title)</h2>
                    <div class="row">
                        <div class="col-md-6 col-lg-6">
                            <img src="~/img/@Html.DisplayFor(modelItem => item.FileName)" height="100%" style="margin-left:auto; display:block; width:100%; margin-right:auto;">
                        </div>
                        <div class="col-md-6 col-lg-6">
                            <p style="font-size:medium">@Html.DisplayFor(modelItem => item.Description)</p>
                            <label class="text-muted" style="font-weight:800; font-size:larger">Category: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(modelItem => item.Category)</span>
                            <br />
                            <label class="text-muted" style="font-weight: 800;font-size:larger">Country: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(modelItem => item.Country)</span>
                            <br />
                            <label class="text-muted" style="font-weight: 800; font-size:larger ">Current Funds: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(modelItem => item.CurrentFunds)</span>
                            <br />
                            <label class="text-muted" style="font-weight: 800; font-size:larger">Required Funds: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(modelItem => item.RequiredFunds)</span>
                            <br />
                            <label class="text-muted" style="font-weight: 800; font-size:larger">Estimated Deadline: </label>

                            <span style="font-weight:600;"> @Html.DisplayFor(modelItem => item.Deadline)</span>
                            <br />
                            <br />
                            <a asp-controller="Home" asp-action="Index" class="btn btn-dark">Back to Home</a>
                            <br />
                          
                        </div>

                    </div>
                </div>

            }
        </div>
        </div>
        <!-- End: 1 Row 2 Columns -->

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>



</html>

