@model PF6_Team1_DotNetAssignment.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1 style="margin-top: 8%;">Details</h1>

<div>
    <h4>Project</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Category)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Category)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Country)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Country)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyImage)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.MyImage)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyVideo)
        </dt>
        
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.RequiredFunds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.RequiredFunds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CurrentFunds)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CurrentFunds)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Deadline)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Deadline)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfViews)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AmountOfViews)
        </dd>
        <div class="container-sm" style="align-self:flex-start; border-style:solid;width:50%">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.MyPackages)
        </dt>

        @if (Model.MyPackages != null)
        {
            @foreach (var item in Model.MyPackages)
            {
                <dd class="col-sm-10">
                    @Html.DisplayFor(modelItem => item.Title)
                </dd>
            }
        }

</div>
    </dl>
</div>
<div>
    <a asp-controller="Package" asp-action="Create" asp-route-id="@Model.ProjectId">Add Packages</a> |
    <a asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
