@model PF6_Team1_DotNetAssignment.Models.Project
@using Microsoft.AspNetCore.Http


@{
    ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>



<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Untitled</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
</head>

<body>
    <main style="margin-top: 8%;">
        <h1>Details</h1>
        <div>
            <div class="container" style="border-style:solid; height:70%">
                <h2 class="text-center"> @Html.DisplayFor(model => model.Title)</h2>
                <div class="row">
                    <div class="col-md-4 col-lg-4">
                        <img src="~/img/@Html.DisplayFor(model => model.FileName)" height="100%" style="margin-left:auto; display:block; width:100%; margin-right:auto;">
                    </div>
                    <div class="col-md-4 col-lg-4">
                        <p style="font-size:medium">@Html.DisplayFor(model => model.Description)</p>
                        <label class="text-muted" style="font-weight:800; font-size:larger">Category: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(model => model.Category)</span>
                        <br />
                        <label class="text-muted" style="font-weight: 800;font-size:larger">Country: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(model => model.Country)</span>
                        <br />
                        <label class="text-muted" style="font-weight: 800; font-size:larger ">Current Funds: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(model => model.CurrentFunds)</span>
                        <br />
                        <label class="text-muted" style="font-weight: 800; font-size:larger">Required Funds: </label><span style="font-weight: 600; font-size:large"> @Html.DisplayFor(model => model.RequiredFunds)</span>
                        <br />
                        <label class="text-muted" style="font-weight: 800; font-size:larger">Estimated Deadline: </label>

                        <span style="font-weight:600;"> @Html.DisplayFor(model => model.Deadline)</span>
                        <br />
                        <br />
                        <div>
                            <a class="btn btn-dark" asp-controller="Package" asp-action="Create" asp-route-id="@Model.ProjectId">Add Packages</a> |
                            <a class="btn btn-dark" asp-action="Edit" asp-route-id="@Model.ProjectId">Edit</a> |
                            <a class="btn btn-dark" asp-controller="Users" asp-action="GetMyProjects" asp-route-id="@Model.UserId" >Back to List</a>
                        </div>

                    </div>
                    <div class="col-md-6 col-lg-3 offset-lg-0 align-self-center" style=" height:500px; background-color:grey; overflow: scroll;">
                        <h2 style="text-align:center">Packages</h2>
                        @if (Model.MyPackages != null)
                        {

                            @foreach (var item1 in Model.MyPackages)
                            {<div class="card">
                                    <div class="card-body">
                                        <h4 class="card-title mb-1" style="text-align:center">@Html.DisplayFor(modelItem => item1.Title)</h4>
                                        <br />
                                        <h6 class="text-muted card-subtitle mb-2" style="text-align: center; text-decoration: underline ">@Html.DisplayFor(modelItem => item1.Reward)</h6>
                                        <p class="card-text">@Html.DisplayFor(modelItem => item1.Description)</p>
                                        <h6 class="text-muted card-subtitle mb-2"><span>Price: </span>@Html.DisplayFor(modelItem => item1.Price)</h6>
  
                                    </div>
                                </div>
                            }

                        }

                    </div>

                </div>
            </div>
        </div>
        
        <!-- End: 1 Row 2 Columns -->

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.min.js"></script>
</body>



</html>

