@model IEnumerable<PF6_Team1_DotNetAssignment.Models.Project>

@{
    ViewData["Title"] = "Index";
}

<h1>Projects</h1>


<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Category)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Country)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyImage)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MyVideo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RequiredFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CurrentFunds)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Deadline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfViews)
            </th>

            <th></th>
        </tr>
    </thead>
    <tbody id="projects">
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Category)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyImage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MyVideo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RequiredFunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CurrentFunds)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CreatedDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Deadline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfViews)
            </td>

            <td>
                <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.ProjectId"> Delete </a>
                <!-- <a href="javascript:void(0)" onclick="deleteProject(@item.ProjectId)">Delete</a>-->
            </td>
        </tr>
        }
    </tbody>
</table>

@section Scripts
{
    <script>
        const uri = 'Project';

        function getProject() {
            fetch(`${uri}/Get`)
                .then(response => response.json())
                .then(data => _displayProject(data))
                .catch(error => console.error('Unable to get projects.', error));
        }
        function deleteProject(id) {
            fetch(`${uri}/Delete/${id}`, {
                method: 'DELETE'
            })
                .then(() => getProject())
                .catch(error => console.error('Unable to delete projects.', error));
        }
        function _displayProject(data) {
            const tBody = document.getElementById('projects');
            tBody.innerHTML = '';
            const anchorElement = document.createElement('a');
            data.forEach(item => {
                let detailsAnchor = anchorElement.cloneNode(false);
                detailsAnchor.innerText = 'Details';
                detailsAnchor.setAttribute('href', `${uri}/Details/${item.id}`);
                let deleteAnchor = anchorElement.cloneNode(false);
                deleteAnchor.innerText = 'Delete';
                deleteAnchor.setAttribute('onclick', `deleteProject(${item.id})`);
                deleteAnchor.setAttribute('href', 'javascript:void(0)');
                let tr = tBody.insertRow();
                let td1 = tr.insertCell(0);
                let TitleNode = document.createTextNode(item.title);
                td1.appendChild(TitleNode);
                let td2 = tr.insertCell(1);
                let DescriptionNode = document.createTextNode(item.description);
                td2.appendChild(DescriptionNode);
                let td3 = tr.insertCell(2);
                let CategoryNode = document.createTextNode(item.category);
                td3.appendChild(CategoryNode);
                let td4 = tr.insertCell(3);
                let CountryNode = document.createTextNode(item.country);
                td4.appendChild(CountryNode);
                let td5 = tr.insertCell(4);
                let MyImageNode = document.createTextNode(item.MyImage);
                td5.appendChild(MyImageNode);
                let td6 = tr.insertCell(5);
                let MyVideoNode = document.createTextNode(item.MyVideo);
                td6.appendChild(MyVideoNode);
                let td7 = tr.insertCell(6);
                let RequiredFundsNode = document.createTextNode(item.RequiredFunds);
                td7.appendChild(RequiredFundsNode);
                let td8 = tr.insertCell(7);
                let CurrentFundsNode = document.createTextNode(item.CurrentFunds);
                td8.appendChild(CurrentFundsNode);
                let td9 = tr.insertCell(8);
                let CreatedDateNode = document.createTextNode(item.CreatedDate);
                td9.appendChild(CreatedDateNode);
                let td10 = tr.insertCell(9);
                let DeadlineNode = document.createTextNode(item.Deadline);
                td10.appendChild(DeadlineNode);
                let td11 = tr.insertCell(10);
                let AmountOfViewsNode = document.createTextNode(item.AmountOfViews);
                td11.appendChild(AmountOfViewsNode);
                let td12 = tr.insertCell(11);
                td12.appendChild(detailsAnchor);
                let td13 = tr.insertCell(12);
                td13.appendChild(deleteAnchor);
            });
        }
    </script>
}




<!--
<h4>Project</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="CreateProject">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" />
                <span asp-validation-for="Title" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Country" class="control-label"></label>
                <input asp-for="Country" class="form-control" />
                <span asp-validation-for="Country" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyImage" class="control-label"></label>
                <input asp-for="MyImage" class="form-control" />
                <span asp-validation-for="MyImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MyVideo" class="control-label"></label>
                <input asp-for="MyVideo" class="form-control" />
                <span asp-validation-for="MyVideo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RequiredFunds" class="control-label"></label>
                <input asp-for="RequiredFunds" class="form-control" />
                <span asp-validation-for="RequiredFunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentFunds" class="control-label"></label>
                <input asp-for="CurrentFunds" class="form-control" />
                <span asp-validation-for="CurrentFunds" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreatedDate" class="control-label"></label>
                <input asp-for="CreatedDate" class="form-control" />
                <span asp-validation-for="CreatedDate" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deadline" class="control-label"></label>
                <input asp-for="Deadline" class="form-control" />
                <span asp-validation-for="Deadline" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AmountOfViews" class="control-label"></label>
                <input asp-for="AmountOfViews" class="form-control" />
                <span asp-validation-for="AmountOfViews" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

    
    -->
